.counter {
  border: 1px solid gray;
  padding: 30px 50px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 15px lightblue;
}
.counter .value {
  font-size: 45px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.grid {
  list-style: none;
  padding-left: 0;
}
